- @no_container = true
- add_to_breadcrumbs _('Drepo Commits'), project_new_drepo_sync_path(@project)
- breadcrumb_title @commit.short_id
- container_class = !fluid_layout && diff_view == :inline ? 'container-limited' : ''
- limited_container_width = fluid_layout ? '' : 'limit-container-width'
- @content_class = limited_container_width
- page_title        "#{@commit.title} (#{@commit.short_id})", _('Commits')
- page_description  @commit.description

.container-fluid{ class: [limited_container_width, container_class] }
  = render "projects/drepo_syncs/commits/commit_box"
  = render "projects/drepo_syncs/commits/ci_menu"
  = render "projects/drepo_syncs/commits/diffs", diffs: @diffs, environment: @environment, diff_page_context: "is-commit"

  .limited-width-notes
    = render "shared/notes/drepo/notes_without_form", :autocomplete => true
