- breadcrumb_title "New Drepo Sync"
- page_title "New Drepo Sync"

%h3.page-title
  New Drepo Sync
%hr

#ether_wallet{ data: { projectPath: project_path(@project) } }

.mr-compare.merge-request.js-merge-request-new-submit{ 'data-mr-submit-action': "#{j params[:tab].presence || 'new'}" }
  - if @commits.empty? && @issues.empty?
    .commits-empty
      %h4
        There are no changes yet since last Drepo sync.
      = custom_icon ('illustration_no_commits')
  - else
    .merge-request-tabs-holder{ class: ("js-tabs-affix" unless ENV['RAILS_ENV'] == 'test') }
      .merge-request-tabs-container
        .scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
          .fade-left= icon('angle-left')
          .fade-right= icon('angle-right')
          %ul.merge-request-tabs.nav.nav-tabs.nav-links.no-top.no-bottom.js-tabs-affix
            %li.new-tab
              = link_to url_for(safe_params), data: {target: 'div#new', action: 'new', toggle: 'tabvue'} do
                Commits
                %span.badge.badge-pill= @total_commit_count
            %li.issues-tab
              = link_to url_for(safe_params), data: {target: 'div#issues', action: 'issues', toggle: 'tabvue'} do
                Issues
                %span.badge.badge-pill
                  = @issues.total_count

    #diff-notes-app.tab-content
      #new.tab-pane.active
        "world"
      #issues.tab-pane
        = render 'projects/drepo_syncs/issues/issues'

  .mr-loading-status
    = spinner
